[submodule "LIBFT"]
	path = LIBFT
	url = https://github.com/DjoykeAbyah/LIBFT.git
[submodule "GET_NEXT_LINE"]
	path = GET_NEXT_LINE
	url = https://github.com/DjoykeAbyah/GET_NEXT_LINE.git

# if more recent version of LIBFT or any other submodule required do: git submodule update --remote <path> eg ./LIBFT